

<div class="row">

    <div class="col">

        <h3>Detail</h3>
        <hr />
        <table class="table table-dark table-hover">
            <thead></thead>
            <tbody>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        @SelectedItem?.Id
                    </td>
                </tr>
                <tr>
                    <td>
                        Title
                    </td>
                    <td>
                        @SelectedItem?.Title
                    </td>
                </tr>
                <tr>
                    <td>
                        Original Language
                    </td>
                    <td>
                        @SelectedItem?.OriginalLanguage
                    </td>
                </tr>
                <tr>
                    <td>
                        Average
                    </td>
                    <td>
                        @SelectedItem?.VoteAverage
                    </td>
                </tr>
                <tr>
                    <td>
                        Popularity
                    </td>
                    <td>
                        @SelectedItem?.Popularity
                    </td>
                </tr>
                <tr>
                    <td>
                        +18 content?
                    </td>
                    <td>
                        @(SelectedItem?.Adult ==true?"Yes":"No")
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col">
        <div class="form-group bg-black text-light">
            <h3>
                Summary:
            </h3>
            <p>
                @SelectedItem?.Overview
            </p>
        </div>

        @if (SelectedItem != null)
        {

            <MudButton Size="Size.Small" Color="Color.Tertiary" @onclick="e=>AddToViewed(SelectedItem)"><MudIcon Icon="@Icons.Material.Rounded.RemoveRedEye"></MudIcon> Add to viewed list</MudButton>
            <MudButton Size="Size.Small" Color="Color.Tertiary" @onclick="e=>AddToFavorite(SelectedItem)"><MudIcon Icon="@Icons.Material.Rounded.Favorite"></MudIcon> Add to favorite list</MudButton>
            <MudButton Size="Size.Small" Color="Color.Tertiary" @onclick="e=>Redirect(SelectedItem)"><MudIcon Icon="@Icons.Material.Rounded.ArtTrack"></MudIcon> Movie page</MudButton>
        }
    </div>

</div>