<div style="margin-bottom:8px;">
    <MudTextField @bind-Value="@SearchTerm"
                  Variant="Variant.Outlined"
                  Placeholder="Search movies... (ENTER or TAB)"
                  Adornment="Adornment.Start"
                  AdornmentIcon="@Icons.Material.Rounded.Search"
                  OnKeyUp="@(e => { if (e.Key == "Enter") OnSearchChanged.InvokeAsync(SearchTerm); })"
                  Style="width:100%;" />
</div>
