<section style="margin-bottom: 10px d-flex p-2">
    <input type="text" class="form-control" placeholder="Search movie, artist, etc."
           @bind-value="@SearchTerm" @bind-value:event="oninput" @onkeyup="async () => await OnSearchChanged.InvokeAsync(SearchTerm)" />
</section>