<section style="margin-bottom: 10px "class="d-flex p-2">
    <input type="text" class="form-control" placeholder="input keyword ex:BUSTY COPS, then press tab to search"
           @bind-value="@SearchTerm" @bind-value:event="oninput" @onfocusout="async () => await OnSearchChanged.InvokeAsync(SearchTerm)" />
</section>